
@{
    ViewBag.Title = "Product Listing";
}

<h3>Product Listing</h3>

<p>
    @Html.ActionLink("Add Product", "New", "Products", null, new { @class = "btn btn-primary" })
</p>

<table id="products" class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <thead>
        <tr class="btn-primary">
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>        
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#products").DataTable({
                ajax: {
                    url: "/Api/Products",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, product) {
                            return '<a href="javascript:void(0)" title=' + product.description +'>' + product.name +'</a>';
                        }
                    },
                    {
                        data: "category.name"
                    },
                    {
                        data: "brand.name"
                    },
                    {
                        data: "photo.photoThumbUrl",
                        render: function (data, type, product) {                            
                            if (product.photo != null && product.photo.isActive) {
                                return '<div class="imageContainer"><img src="@Request.Url.GetLeftPart(UriPartial.Authority)//' + data + '" /></div>'
                            } else {
                                return "NA";
                            }                                                        
                        }
                    },                    
                    {
                        data: "price"
                    },
                    {
                        data: "quantity"
                    },
                    {
                        data: "isActive",
                        render: function (data) {
                            if (data === true)
                                return "<span class='badge badge-success'>Active</span>";
                            else {
                                return "<span class='badge badge-warning'>Inactive</span>";
                            }
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, product) {                            
                            return "<a class='btn btn-link remove-padding' href='Products/Edit/" + data + "'>Edit</a>" +
                                " | <a class='btn btn-link remove-padding' href='Products/ToggleStatus/" + data + "'>Toggle Status</a>"+
                                " | <button class='btn btn-link remove-padding js-delete' data-product-id=" + data + ">Delete</button>" +
                                " | <a class='btn btn-link remove-padding' href='Photos/Index/" + data + "?name=" + product.name+"'>Manage Photos</a>";
                        }
                    }
                ]
            });

            $("#products").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to perform these action?")) {
                    $.ajax({
                        url: "/Api/Products/" + button.attr("data-product-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    })
                }

            });
        });
    </script>
}