
@{
    ViewBag.Title = ViewBag.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.CategoryName</h2>

<div class="row text-center">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item text-center">Product Types</li>
            <li class="list-group-item text-left">Mobile Phones @*<span class="badge">12</span>*@</li>
            <li class="list-group-item text-left">CCTV CAMERA </li>
            <li class="list-group-item text-left">Camera (No DGP) </li>
            <li class="list-group-item text-left">Camera Accs (No DGP) </li>
            <li class="list-group-item text-left">Laptop (No DGP) </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item text-center">Product Brands</li>
            <li class="list-group-item text-left">Samsung </li>
            <li class="list-group-item text-left">Apple </li>
            <li class="list-group-item text-left">Vivo </li>
            <li class="list-group-item text-left">Nokia </li>
            <li class="list-group-item text-left">MI </li>
        </ul>

    </div>
    <div class="col-md-9">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/ee219c2c111a294778d45b830b1ea379.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy A70</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/f7997dd11534cec087ccb96bfa4c4d9b.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy Note 10</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/1a8c3c994a58a694f966ab1f7152bdeb.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy A30</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/ee219c2c111a294778d45b830b1ea379.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy A70</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/f7997dd11534cec087ccb96bfa4c4d9b.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy Note 10</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/1a8c3c994a58a694f966ab1f7152bdeb.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy A30</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/ee219c2c111a294778d45b830b1ea379.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy A70</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/f7997dd11534cec087ccb96bfa4c4d9b.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy Note 10</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption text-center" onclick="location.href=''">
                    <div class="position-relative imageContainer">
                        <img src="https://directgharpe.com//assets/user/images/1a8c3c994a58a694f966ab1f7152bdeb.jpg" style="height:235px;" />
                    </div>
                    <h4 id="thumbnail-label"><a href="" target="_blank">Samsung Galaxy A30</a></h4>
                </div>
                <div class="card-footer text-center">
                    <ul class="list-inline">
                        <li class="text-left"><i class="people lighter"></i><span class="final-price">₹ 21,849</span> <br /> <span>₹ <strike>24,034</strike></span> </li>
                        <li></li>
                        <li class="text-right"><i class="glyphicon lighter"></i><span class="discount">10% off</span> <br />You Save <span class="you-save">₹ 2,185</span></li>
                    </ul>
                    <button class="btn btn-primary">Add Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>