
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Admin Dashboard</h1>
    <p class="lead">Manage Products, Customers, Orders etc.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>