@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;        
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.min-content {
    min-height: 560px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Bootstrap Overrides*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

.imageContainer > img {
    transition: transform 0.50s ease;
    max-width: -webkit-fill-available;
}

.imageContainer > img:hover {
    -webkit-transform: scale(1.1);
}

.pd1{
    padding-bottom:10px;
}

.thumbnail {    
    padding-bottom: 15px;
}
/*.btn-primary {
    width: 82%;
    background-color: #fea620;
    border-color: #fea620;
    outline: none;
}
.btn-primary:focus {
    background-color: #fea620;
    border-color: #fea620;    
    outline: none;
}
.btn-primary:hover {
    background-color: #bf7503;
    border-color: #bf7503;
     outline: none;
}
.btn-primary:active {
    background-color: #bf7503 !important;
    border-color: #bf7503 !important;
    outline: none !important;
}*/

.badge {
    background-color: #bf7503 !important;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
a:active {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
    text-decoration: none;
}



.top-navbar {
    background: #EEEEEE;
    height: 32px;
    padding: 7px 0;
    font-size: 12px;
    font-weight: 500;
}
.top-social-media{
    list-style:none;
}
.top-social-media li {
    display: inline-block;
    margin-right: 20px;
}
.top-social-media li img {
    height:13px;
}
.prod-dtl-social-media {
    list-style: none;
}
.prod-dtl-social-media li {
    display: inline-block;
    margin-right: 20px;
}
.prod-dtl-social-media li img {
    height: 18px;
}


.main-navbar {
    background: #fea620;
    height: 85px;
}
.main-nav {
    list-style: none;
    font-size: 18px;
    padding: 30px 0;
    font-weight: 400;
}
.main-nav li {
    display: inline-block;
    margin-right: 25px;
}
.main-nav li:last-child {    
    margin-right: 0px;
}
.main-site {
    list-style: none;
    padding: 32px 0;
}
.main-site li {
    display: inline-block;
    margin-right: 20px;
}
.main-site li:last-child {    
    margin-right: 0px;
}
.main-site li img {
    height: 18px;
}
.logo {
    padding: 7px 0;
}
.logo img {
    height: 65px;
}


.bg {
    background: #fea620;
    height:320px;
}
.bg2 {
    background: silver;
    height: 320px;
}


.final-price {
    color: #B12704;
    font-size:18px;
}
.you-save {
    color: #388e3c;
}
.discount {
    color: #B12704;
    font-size: 18px;
}

.final-price-dtl {
    color: #B12704;
    font-size: 22px;
}

.you-save-dtl {
    color: #388e3c;
}

.discount-dtl {
    color: #B12704;
    font-size: 18px;
}
.qty-dtl {
    display: inline;
    width: 65px;
}
.prod-dtl-btn {
    margin: 25px 0;
}
.prod-desc-list {
    list-style: none;
    padding: 0;
}
.prod-desc-list li {
    line-height: 1.8em;
}

.why_you_choose_us {
    margin: 30px 0;
    padding: 10px 0;
}

.why_you_choose_us h5 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.why_you_choose_us p {
    font-size: 13px;
}

.copyright {
    background: #EEEEEE;
    height: 34px;
    padding: 7px 0;
    font-size: 12px;
    font-weight: 500;
}

.bottom_footer h5 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.bottom_footer p {
    font-size: 13px;
}

.bottom-social-media{
    list-style:none;
    padding:0;
}
.bottom-social-media li {
    display: inline-block;
    margin-right: 20px;
}
.bottom-social-media li img {
    height:13px;
}

.footer-online-shopping, .footer-info, .footer-contact {
    list-style: none;
    padding: 0;
}
.footer-online-shopping li, .footer-info li, .footer-contact li {
    line-height:25px;
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    /*display: block;*/
}

.my-form input[type="text"], .my-form input[type="password"] {
    padding: 8px;
    width: 98.5%;
}


/* Login form style*/
.my-form-control {
	min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;
    max-width:100%;
}
.my-form-control:focus {
	border-color: #70c5c0;
}
.my-form-control, .btn {        
	border-radius: 2px;
}
.my-login-form {
	width: 350px;
	margin: 0 auto;
	padding: 100px 0 30px;		
}
.my-login-form form {
	color: #7a7a7a;
	border-radius: 2px;
	margin-bottom: 15px;
	font-size: 13px;
	background: #ececec;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;	
	position: relative;	
}
.my-login-form h2 {
	font-size: 22px;
	margin: 35px 0 25px;
}
.my-login-form .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #fea620;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.my-login-form .avatar img {
	width: 100%;
}	
.my-login-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.my-login-form .btn, .my-login-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #fea620 !important;
	border: none;
	margin-bottom: 20px;
}
.my-login-form .btn:hover, .my-login-form .btn:focus {
	background: #fea620 !important;
}    
.my-login-form a {
	color: #fff;
	text-decoration: underline;
}
.my-login-form a:hover {
	text-decoration: none;
}
.my-login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.my-login-form form a:hover {
	text-decoration: underline;
}
.my-login-form .bottom-action {
	font-size: 14px;
}